.Presentation{
    width: 100vw;
}

.Presentation .carousel-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
  }

  .Presentation .carousel-caption h3 {
    font-size: 45px;
    margin-top: 150px;
    
  }

  .Presentation .btn-primary {
    background-color: #19255b; 
    border: none;
    padding: 8px 80px;
    font-size: 1.2rem;
    border-radius: 25px;
   margin-top: 150px;
    font-weight: bold;
  }
  
  .Presentation .btn-primary:hover {
    background-color: #0f1c3d; 
  }


  .carousel-image {
    height: 100vh;
    width: 100%;
    object-fit:cover;
    object-position: center;
  }

  @media (max-width: 768px) {
    .Presentation{
      width: 100vw;
      height: auto;
      background-color: #0f1c3d;
  }
    .Presentation .carousel-caption h3 {
      font-size: 30px;
    }
    .carousel-image {
      object-fit: contain;
      height: auto;
      width: 100%;
    }


  }